makenum/testnum/*
makenum/result/charts/*
makenum/result/chartssave/*
makenum/result/AAA/*
OI/lougu/contest/*
OI/lougu/**/*.exe
OI/lougu/in.in
OI/lougu/out.out
OI/Java/*
learn/*
OI/lougu/in.in
OI/lougu/out.out
temp/*.txt
temp/*.exe
temp/makephoto
OI/lougu/.cph
OI/Atcoder/.cph
temp/*
互联网编程/实验二/server_thread_pool.log
互联网编程/实验二/server_multi_thread.log
互联网编程/实验二/*.log
互联网编程/实验二/*.txt
互联网编程/实验二/.idea
互联网编程/实验二/.idea/*
互联网编程/实验二/out
互联网编程/实验二/out/*
互联网编程/实验二/*.iml
resources/*
.gitattributes
Blank_project.prj