makenum/testnum/*
makenum/result/charts/*
makenum/result/chartssave/*
makenum/result/AAA/*
OI/lougu/contest/*
OI/lougu/**/*.exe
OI/lougu/in.in
OI/lougu/out.out
OI/Java/*
learn/*
OI/lougu/in.in
OI/lougu/out.out
temp/*.txt
temp/*.exe
temp/makephoto
OI/lougu/.cph
OI/Atcoder/.cph